<app-navegacion/>
<section class="nosotros my-5">
    <h1 class="text-center my-5">¿Quiénes somos?</h1>
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-6">
                <p>Somos una empresa distribuidora, encargada de vender artículos de limpieza
                    y oficina al por mayor y menor en el departamento de Lima. Tenemos como
                    visión ser una de la empresas mas reconocidas en este rubro por la calidad
                    de los productos y servicios al momento de vender al cliente.</p>
                <img src="assets/Contenido/ecodar.jpeg" alt="alt" class="img-fluid" width="800" height="150" />
            </div>
        </div>
        <div class="row my-5">
            <div class="col-6">
                <img src="assets/Contenido/logo_ecodar.png" alt="alt" class="img-fluid" />
            </div>
            <div class="col-6">
                <p>La empresa ECODAR PERU, brinda a sus clientes una lista de productos de
                    distintas marcas reconocidas en el mercado. Actualmente se especializa
                    en el rubro de útiles de oficina, escolares y limpieza. Nosotros como
                    empresa brindamos productos de calidad y a un precio cómodo para todos
                    nuestros clientes, ECODAR lleva sus productos hasta su local, de una manera
                    rápida y eficaz dentro de un periodo de 48 horas. Asimismo, brindamos al
                    cliente la orientación de la compra de los productos y detalles que requieran.
                    Logrando así una comunicación efectiva al momento de ofrecer el producto.</p>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <h1 class="text-center my-5">Marcas con las que trabajamos</h1>

    <div class="container">
        <div class="carrusel">
            <div class="elemento"><img src="assets/Contenido/Alpha.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/Artesco.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/Arti.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/Daryza.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/David.png" alt="..." width="300" height="300"></div>
            <div class="elemento"><img src="assets/Contenido/FaberCastell.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/Maped.png" alt="..." width="300" height="300"></div>
            <div class="elemento"><img src="assets/Contenido/Sumac.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/UHU.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/Vinifan.png" alt="..."></div>
            <div class="elemento"><img src="assets/Contenido/stabilo.jpg" alt="..."></div>
        </div>
    </div>
</section>
<app-footer/>